#header {
    height: 100px;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
}

#header h2 {
    margin-top: 20px;
    color: whitesmoke;
}

.rounded-btn {
    height:40px;
    width:200px;
    background-color:white !important;
    box-shadow:5px 5px 10px grey;
    border-radius: 0px 50px 50px 0px !important;
}

.filter-form {
    padding-bottom: 20px;
    text-align: center;
}
