<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Michał Orlewski - Projekt BD1</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
    <div>
        <div id="header">
            <h2>System Zarządzania Bazą Danych Biblioteki</h2>
        </div>

        <div style="height: 50px; ">

        </div>
        
        </div>
        <div class="row" style="height:100%">
        <div class="col-2" style="padding-top:20px;">
            <div class="col-12">
        <div style="height:40px;width:100%;margin:5px">
            <button class="btn rounded-btn" onclick="window.location.href='http://127.0.0.1:5000/listBooks';">Lista Książek</a>
        </div>
        <div style="height:40px;width:100%;margin:5px">
            <button class="btn rounded-btn" onclick="window.location.href='http://127.0.0.1:5000/listReviews';">Lista Recenzji</a>
        </div>
        <div style="height:40px;width:100%;margin:5px">
            <button class="btn rounded-btn" onclick="window.location.href='http://127.0.0.1:5000/listClients';">Lista Klientów</a>
        </div>
        <div style="height:40px;width:100%;margin:5px">
            <button class="btn rounded-btn" onclick="window.location.href='http://127.0.0.1:5000/addBook';">Dodaj Książkę</a>
        </div>
        <div style="height:40px;width:100%;margin:5px">
            <button class="btn rounded-btn" onclick="window.location.href='http://127.0.0.1:5000/addReview';">Dodaj Recenzje</a>
        </div>
        <div style="height:40px;width:100%;margin:5px">
            <button class="btn rounded-btn" onclick="window.location.href='http://127.0.0.1:5000/addClient';">Dodaj Klienta</a>
        </div>
        <div style="height:40px;width:100%;margin:5px">
            <button class="btn rounded-btn" onclick="window.location.href='http://127.0.0.1:5000/addReservation';">Dodaj Rezerwacje</a>
        </div>
        <div style="height:40px;width:100%;margin:5px">
            <button class="btn rounded-btn" onclick="window.location.href='http://127.0.0.1:5000/addRent';">Dodaj Wypożyczenie</a>
        </div>
        <div style="height:40px;width:100%;margin:5px">
            <button class="btn rounded-btn" onclick="window.location.href='http://127.0.0.1:5000/addTables';">Dodaj Pozostałe</a>
        </div>
        <div style="height:40px;width:100%;margin:5px">
            <button class="btn rounded-btn" onclick="window.location.href='http://127.0.0.1:5000/changeStatus';">Zmiana Statusu</a>
        </div>
        </div>
        </div>
        <div class="col-8" style="padding:20px">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>