{% extends "base.html" %}
{% block content %}
    
        <form id="filter-form" method="POST">
        {% if genres %}
            <select name="select-genre" id="select-genre" class="form-select">
                <option selected value="0">Filtruj po gatunku</option>
                {% for genre in genres %}
                    <option value="{{genre[1]}}">{{genre[1]}}</option>
                {% endfor %}
            </select>
        {% endif %}
        {% if authors %}
            <select name="select-author" id="select-author" class="form-select">
                <option selected value="0">Filtruj po autorze</option>
                {% for author in authors %}
                    <option value="{{author[1]}} {{author[2]}}">{{author[1]}} {{author[2]}}</option>
                {% endfor %}
            </select>
        {% endif %}

        <br /><br /><button type="submit" class="btn btn-dark">Filtruj</button>
        </form>
    {% if data %}
        <table class="table table-bordered border-success" ><tr style="font-weight: bold; background-color:#ccffcc;">
        <td>Tytuł</td><td>Autor</td><td>Gatunek</td><td>Data wydania</td><td>Wydawnictwo</td><td>Dostępne egzemplarze</td></tr>
        {% for row in data %}
            <tr><td>{{row[0]}}</td><td>{{row[4]}} {{row[5]}}</td><td>{{row[3]}}</td><td>{{row[1]}}</td><td>{{row[6]}}</td><td>{{row[2]}}</td></tr>
        {% endfor %}
        </table>

    {% endif %}
{% endblock %}

